@font-face {
	font-family: Dotimatrix;
	src: url("../font/Dotimatrix.otf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: MontserratAlternates;
	src: url("../font/MontserratAlternates-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: MontserratAlternates;
	src: url("../font/MontserratAlternates-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: 600;
}
@font-face {
	font-family: MontserratAlternates;
	src: url("../font/MontserratAlternates-Black.ttf") format("truetype");
	font-style: ;
	font-weight: 900;
}
